# Path to data

[Kaggle Dataset](https://www.kaggle.com/datasets/mylesoneill/warcraft-avatar-history?select=zones.csv)

[Source data parser](https://github.com/myles-oneill/WoWAH-parser/blob/master/wowah-parser.py)

In [231]:
import warnings
warnings.filterwarnings('ignore')

# Set up notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

home_directory = "C:/Users/rober/DataspellProjects/Machine-Learning-Sandbox"

In [232]:
wowah_data = pd.read_csv(
    filepath_or_buffer=home_directory +
                       "/data/02_world_of_warcraft/avatar_history/wowah_data.csv",
    encoding = 'utf_8'
)
zones = pd.read_csv(
    filepath_or_buffer=home_directory + "/data/02_world_of_warcraft/avatar_history/zones.csv",
    encoding = 'utf_8'
)
location_coords = pd.read_csv(
    filepath_or_buffer=home_directory +
                       "/data/02_world_of_warcraft/avatar_history/location_coords.csv",
    encoding = 'utf_8'
)
locations = pd.read_csv(
    filepath_or_buffer=home_directory +
                       "/data/02_world_of_warcraft/avatar_history/locations.csv",
    encoding = 'utf_8'
)

In [233]:
wowah_data.head()

    char  level race charclass                zone  guild          timestamp
0  59425      1  Orc     Rogue           Orgrimmar    165  01/01/08 00:02:04
1  65494      9  Orc    Hunter             Durotar     -1  01/01/08 00:02:04
2  65325     14  Orc   Warrior          Ghostlands     -1  01/01/08 00:02:04
3  65490     18  Orc    Hunter          Ghostlands     -1  01/01/08 00:02:04
4   2288     60  Orc    Hunter  Hellfire Peninsula     -1  01/01/08 00:02:09

In [234]:
for avatar_col in wowah_data.columns:
    print(f"Number of {avatar_col}'s:", len(wowah_data[avatar_col].unique()))
    print(f"Number of NaN values in {avatar_col}:", wowah_data[avatar_col].isna().sum())
    print(" ")

Number of char's: 37354
Number of NaN values in char: 0

Number of level's: 80
Number of NaN values in level: 0

Number of race's: 5
Number of NaN values in race: 0

Number of charclass's: 10
Number of NaN values in charclass: 0

Number of zone's: 158
Number of NaN values in zone: 0

Number of guild's: 420
Number of NaN values in guild: 0

Number of timestamp's: 1826400
Number of NaN values in timestamp: 0

In [235]:
zones.tail()

,Zone_Name,Continent,Area,Zone,Subzone,Type,Size,Controlled,Min_req_level,Min_rec_level,Max_rec_level,Min_bot_level,Max_bot_level
155,Vault of Archavon,Northrend,Northrend,Wintergrasp,Wintergrasp Fortress,Dungeon,25.0,Contested,80,80.0,80.0,80.0,80.0
156,The Eye of Eternity,Northrend,Northrend,Borean Tundra,Coldarra,Dungeon,25.0,Contested,80,80.0,80.0,80.0,80.0
157,The Obsidian Sanctum,Northrend,Northrend,Dragonblight,Chamber of Aspects,Dungeon,25.0,Contested,80,80.0,80.0,80.0,80.0
158,Dragonbone Wilderness,Northrend,Northrend,Dragonblight,Dragonblight,Zone,NaN,Contested,1,72.0,75.0,72.0,75.0
159,North Coast,Eastern Kingdoms,Lordaeron,Tirisfal Glades,North Coast,Zone,NaN,Contested,1,1.0,100.0,1.0,100.0

In [236]:
for zone_lvl in zones.columns:
    print(f"Number of {zone_lvl}'s:", len(zones[zone_lvl].unique()))
    print(f"Number of NaN values in {zone_lvl}:", zones[zone_lvl].isna().sum())
    print(" ")

Number of Zone_Name's: 160
Number of NaN values in Zone_Name: 0

Number of Continent's: 7
Number of NaN values in Continent: 0

Number of Area's: 12
Number of NaN values in Area: 3

Number of Zone's: 80
Number of NaN values in Zone: 7

Number of Subzone's: 38
Number of NaN values in Subzone: 108

Number of Type's: 8
Number of NaN values in Type: 0

Number of Size's: 7
Number of NaN values in Size: 92

Number of Controlled's: 5
Number of NaN values in Controlled: 0

Number of Min_req_level's: 37
Number of NaN values in Min_req_level: 0

Number of Min_rec_level's: 46
Number of NaN values in Min_rec_level: 1

Number of Max_rec_level's: 44
Number of NaN values in Max_rec_level: 1

Number of Min_bot_level's: 48
Number of NaN values in Min_bot_level: 2

Number of Max_bot_level's: 46
Number of NaN values in Max_bot_level: 2

We should avoid using Subzone for our `map_hierarchy_lvl_1`

Now, should I do a tree per zone or per what????

In [237]:
location_coords.head()

,Location_Name,Map_ID,X_coord,Y_coord,Z_coord
0,Eastern Kingdom: Ironforge Airport,0.0,-4488.993311,-1580.19104,509.005066
1,Eastern Kingdom: Wetlands Mountain Camp,0.0,-3855.000000,-3479.00000,579.000000
2,Eastern Kingdom: Dun Morogh plane camp,0.0,-6161.000000,-786.00000,423.000000
3,Eastern Kingdom: Undercity,0.0,1831.260000,238.53000,60.520000
4,Eastern Kingdom: Stormwind City,0.0,-8913.230000,554.63300,93.794400

In [238]:
for location_coord in location_coords.columns:
    print(f"Number of {location_coord}'s:", len(location_coords[location_coord].unique()))
    print(f"Number of NaN values in {location_coord}:", location_coords[location_coord].isna().sum())
    print(" ")

Number of Location_Name's: 3203
Number of NaN values in Location_Name: 0

Number of Map_ID's: 81
Number of NaN values in Map_ID: 2

Number of X_coord's: 1692
Number of NaN values in X_coord: 0

Number of Y_coord's: 1690
Number of NaN values in Y_coord: 0

Number of Z_coord's: 1790
Number of NaN values in Z_coord: 0

In [239]:
locations.tail()

     Map_ID Location_Type           Location_Name Game_Version
146    1279       Dungeon          The Everbloom           WoD
147    1358       Dungeon  Upper Blackrock Spire           WoD
148    1228          Raid               Highmaul           WoD
149    1205          Raid      Blackrock Foundry           WoD
150    1448          Raid       Hellfire Citadel           WoD

In [240]:
for location in locations.columns:
    print(f"Number of {location}'s:", len(locations[location].unique()))
    print(f"Number of NaN values in {location}:", locations[location].isna().sum())
    print(" ")

Number of Map_ID's: 151
Number of NaN values in Map_ID: 0

Number of Location_Type's: 6
Number of NaN values in Location_Type: 0

Number of Location_Name's: 151
Number of NaN values in Location_Name: 0

Number of Game_Version's: 6
Number of NaN values in Game_Version: 0