# Path to data

[Kaggle Dataset](https://www.kaggle.com/datasets/mylesoneill/warcraft-avatar-history?select=zones.csv)

[Source data parser](https://github.com/myles-oneill/WoWAH-parser/blob/master/wowah-parser.py)

In [4]:
import warnings
warnings.filterwarnings('ignore')

# Set up notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

home_directory = "C:/Users/rober/DataspellProjects/Machine-Learning-Sandbox"

In [11]:
wowah_data = pd.read_csv(
    filepath_or_buffer=home_directory + "/data/02_world_of_warcraft/avatar_history/wowah_data.csv"
)
zones = pd.read_csv(
    filepath_or_buffer=home_directory + "/data/02_world_of_warcraft/avatar_history/zones.csv"
)
location_coords = pd.read_csv(
    filepath_or_buffer=home_directory +
                       "/data/02_world_of_warcraft/avatar_history/location_coords.csv"
)
locations = pd.read_csv(
    filepath_or_buffer=home_directory + "/data/02_world_of_warcraft/avatar_history/locations.csv"
)

In [13]:
wowah_data.head()

,char,level,race,charclass,zone,guild,timestamp
0,59425,1,Orc,Rogue,Orgrimmar,165,01/01/08 00:02:04
1,65494,9,Orc,Hunter,Durotar,-1,01/01/08 00:02:04
2,65325,14,Orc,Warrior,Ghostlands,-1,01/01/08 00:02:04
3,65490,18,Orc,Hunter,Ghostlands,-1,01/01/08 00:02:04
4,2288,60,Orc,Hunter,Hellfire Peninsula,-1,01/01/08 00:02:09

In [14]:
zones.head()

,Zone_Name,Continent,Area,Zone,Subzone,Type,Size,Controlled,Min_req_level,Min_rec_level,Max_rec_level,Min_bot_level,Max_bot_level
0,Durotar,Kalimdor,Central Kalimdor,Durotar,NaN,Zone,NaN,Horde,1,1.0,10.0,1.0,10.0
1,The Barrens,Kalimdor,Central Kalimdor,The Barrens,NaN,Zone,NaN,Contested,1,10.0,35.0,10.0,35.0
2,Silverpine Forest,Eastern Kingdoms,Lordaeron,Silverpine Forest,NaN,Zone,NaN,Horde,1,10.0,20.0,10.0,20.0
3,Stonetalon Mountains,Kalimdor,Central Kalimdor,Stonetalon Mountains,NaN,Zone,NaN,Contested,1,25.0,30.0,25.0,30.0
4,Thunder Bluff,Kalimdor,Central Kalimdor,Thunder Bluff,NaN,City,NaN,Horde,1,1.0,100.0,1.0,100.0

In [15]:
location_coords.head()

,Location_Name,Map_ID,X_coord,Y_coord,Z_coord
0,Eastern Kingdom: Ironforge Airport,0.0,-4488.993311,-1580.19104,509.005066
1,Eastern Kingdom: Wetlands Mountain Camp,0.0,-3855.000000,-3479.00000,579.000000
2,Eastern Kingdom: Dun Morogh plane camp,0.0,-6161.000000,-786.00000,423.000000
3,Eastern Kingdom: Undercity,0.0,1831.260000,238.53000,60.520000
4,Eastern Kingdom: Stormwind City,0.0,-8913.230000,554.63300,93.794400

In [16]:
locations.head()

   Map_ID Location_Type     Location_Name Game_Version
0       0     Continent  Eastern Kingdoms          WoW
1       1     Continent          Kalimdor          WoW
2     530     Continent          Outlands          TBC
3     571     Continent         Northrend          WLK
4     646     Continent          Deepholm          CAT